.card-header .title {
    font-size: 17px;
    color: #000;
}

.card-header .accicon {
    float: right;
    font-size: 20px;
    width: 1.2em;
}

.card-header {
    cursor: pointer;
    border-bottom: none;
}

.card {
    border: 1px solid #ddd;
}

.card-header:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
}

.small-font {
    font-size: 0.8rem
}

.non-editable-text-area {
    border: none;
    background-color: transparent;
    resize: none;
    width: 100%;
    outline: none;
}

@media (max-width: 767.98px) {
    .chart-container {
        width: 300px;
        margin: auto;
    }

}

.chart-container {
    width: 85%;
    margin: auto;
}
