PRODUCT_TITLE=IVA
SERVER_ADDRESS=0.0.0.0:8080
DATABASE_URI=iva:[PASSWORD_TO_REPLACE]@(:3306)/iva?charset=utf8&parseTime=True&loc=Local
MONGO_DATABASE_URI=mongodb://root:[ROOT_PASS_TO_REPLACE]@localhost:27017/
MONGO_DATABASE_NAME=iva
DBMS_TYPE=mysql
COPYRIGHT_FOOTER_COMPANY=Cyber Security and Privacy Foundation

MIGRATIONS_PREFIX=db
LOG_LEVEL=info
# Optional
LOG_FILE_PATH = /app/iva/logs/panel.log


# TLS Configuration
USE_TLS=true

#CERT_PATH=./certs/panel.crt
#KEY_PATH=./certs/panel.key

REPORT_DIR = /app/data/reports
FEED_URL="http://localhost/feed"
