# Database configuration
DATABASE_URI=mongodb://root:[ROOT_PASS_TO_REPLACE]@127.0.0.1:27017/iva_data?authSource=admin&authMechanism=SCRAM-SHA-256
DB_NAME=iva_data

# File paths
LOCAL_TMP_DIR=/app/iva/scanner/local_temp/
REPORTER_BIN=/app/iva/bin/reporter

# ZAP Proxy settings
ZAP_API_KEY=[API_KEY]
PROXY=http://127.0.0.1:8080/


# OpenVAS configuration
OPENVAS_USERNAME=admin
OPENVAS_PASSWORD=[GMP_PASSWORD_TO_REPLACE]
OPENVAS_CLI_PATH=/app/iva/reporter/src/venv/bin/gvm-cli
OPENVAS_SCAN_CONFIG_ID=daba56c8-73ec-11df-a475-002264764cea
OPENVAS_PORT_LIST_ID=730ef368-57e2-11e1-a90f-406186ea4fc5
OPENVAS_HOST=127.0.0.1
OPENVAS_PORT=9390

# Logging configuration
LOG_LEVEL=info  # Available options: debug, info, warn, error, fatal
# LOG_FILE_PATH=/path/to/log/file  # Leave empty to log to stdout

# # Additional configuration
# USE_DOTENV=false  # Set to false if .env loading is not required

