DATABASE_URI = mongodb://root:[ROOT_PASS_TO_REPLACE]@127.0.0.1:27017/iva_data?authSource=admin&authMechanism=SCRAM-SHA-256
DATABASE_NAME = iva_data
LOG_LEVEL = info
# Optional
LOG_FILE_PATH = /app/iva/logs/manager-api.log

DEPLOYMENT_TYPE = onpremise
SCAN_LOGS_DIR = /app/iva/logs/scans/

UPDATER_COMMAND = /app/iva/bin/updater
SCANNER_CMD = /app/iva/bin/scanner
